@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Evaluación Manuel</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://codigoespagueti.com/wp-content/uploads/2020/12/Broly.jpg" alt="">
</div>
